@tailwind base;
@tailwind components;
@tailwind utilities;


/* src/assets/main.css */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #000;
  color: #fff;
  font-family: 'Poppins', sans-serif;
}


